<a href="https://colab.research.google.com/github/anachavesv8/BlueEdTech-MD01-Pandas/blob/main/codelab17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ***Exercícios***

Faça a importação do módulo Pandas

Crie um Dataframe com as séries: Nome, Idade, prato favorito. Preencha com seus dados e da sua família. Fique a vontade para adicionar novas colunas.

Qual a idade média da sua família?

Qual a maior e a menor idade de sua família?

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        "Name": [
                 "Ana", "Marcos", "Natalia", "Linda", "André", "Simone",
        ],
        "Age": [32,41,5,64,35,35],
        "Prato": ['Sashimi', 'Pizza', 'Miojo', 'Paeja', 'Empadão', 'macarrão'],
    }
)

In [ ]:
df

      Name  Age     Prato
0      Ana   32   Sashimi
1   Marcos   41     Pizza
2  Natalia    5     Miojo
3    Linda   64     Paeja
4    André   35   Empadão
5   Simone   35  macarrão

In [ ]:
df['Age'].mean()

35.333333333333336

In [ ]:
df["Age"].max()

64

In [ ]:
df['Age'].min()

5