<a href="https://colab.research.google.com/github/anachavesv8/BlueEdTech-MD01-Pandas/blob/main/Estados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# **Faça uma pesquina na internet e busque os seguintes dados:**
Nome dos estados brasileiros;

Sigla dos estados;

Região;

Capital;

Polulação.

Adicione estas informações em um Datafrane;

Exiba na tela apenas a sigla e a população;

Qual o estado com a maior população?

Qual a quantidade de estados?

Crie novos Dataframes a partir do conjunto principal. Crie um Dataframe para cada uma das regiões.

Quantidade de estados por região?

Polulação total de cada região?

Qual região com a maior população?

Qual a regiçao com a menor população?

Qual a população média de cada região?

In [49]:
df2 = pd.DataFrame(
    {
       "Estados": [
                   'Acre', 'Alagoas', 'Amapá', 'Amazonas', 'Bahia', 'Ceará', 'Espírito Santo', 
                  'Goiás', 'Maranhão', 'Mato Grosso', 'Mato Grosso do Sul', 'Minas Gerais',
                   'Pará', 'Paraíba', 'Paraná', 'Pernambuco', 'Piauí', 'Rio de Janeiro', 'Rio Grande do Norte',
                   'Rio Grande do Sul', 'Rondônia', 'Roraima', 'Santa Catarina', 'São Paulo', 'Sergipe', 
                   'Tocantins', 'Distrito Federal'
                   ],

        "Siglas": [
                   'AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'ES',
                   'GO', 'MA', 'MT', 'MS', 'MG',
                   'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN',
                   'RS', 'RO', 'RR', 'SC', 'SP', 'SE',
                   'TO', 'DF'
                   ],
      "Capitais": [
                   'Rio Branco', 'Maceió', 'Macapá', 'Manaus', 'Salvador', 'Fortaleza', 'Vitória',
                   'Goiânia', 'São Luís', 'Cuiabá', 'Campo Grande', 'Belo Horizonte',
                   'Belém', 'João Pessoa', 'Curitiba', 'Recife', 'Teresina', 'Rio de Janeiro', 'Natal',
                   'Porto Alegre', 'Porto Velho', 'Boa Vista', 'Florianópolis', 'São Paulo', 'Aracaju',
                   'Palmas', 'Brasília'
      ],
     
        "Regiao": [
                   'Norte', 'Nordeste','Norte', 'Norte', 'Nordeste', 'Nordeste','Sudeste', 
                   'Centro-Oeste', 'Nodeste', 'Centro-Oeste', 'Centro-Oeste', 'Sudeste', 
                   'Norte', 'Nordeste', 'Sul', 'Nordeste', 'Nordeste', 'Sudeste', 'Nordeste',
                   'Sul', 'Norte', 'Norte', 'Sul', 'Sudeste', 'Nordeste',
                   'Norte', 'Centro-Oeste'
                   ],
     
        "População": [
                      906876, 3365351, 877613, 4269995, 14985284, 9240580, 4108508,
                      7206589, 7153262, 3567234, 2839188, 21411923,
                      8777124, 4059905, 11597484, 9674793, 3289290, 17463349, 3560903,
                      11466630, 1815278, 652713, 7338473, 46649132, 2338474,
                      1607363, 3094325
        ]
    }
)

Exiba na tela apenas a sigla e a população;

In [50]:
estados_pop = df2[['Siglas', 'População']]

Qual o estado com a maior população?

In [51]:
estados_pop.max()

Siglas             TO
População    46649132
dtype: object

Qual a quantidade de estados?

In [52]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Estados    27 non-null     object
 1   Siglas     27 non-null     object
 2   Capitais   27 non-null     object
 3   Regiao     27 non-null     object
 4   População  27 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.2+ KB

In [53]:
df2['Estados'].count()

27

Crie novos Dataframes a partir do conjunto principal. Crie um Dataframe para cada uma das regiões.

In [75]:
norte = df2[df2['Regiao'] =='Norte']
norte

      Estados Siglas     Capitais Regiao  População
0        Acre     AC   Rio Branco  Norte     906876
2       Amapá     AP       Macapá  Norte     877613
3    Amazonas     AM       Manaus  Norte    4269995
12       Pará     PA        Belém  Norte    8777124
20   Rondônia     RO  Porto Velho  Norte    1815278
21    Roraima     RR    Boa Vista  Norte     652713
25  Tocantins     TO       Palmas  Norte    1607363

In [74]:
nordeste = df2[df2['Regiao'] =='Nordeste']
nordeste

                Estados Siglas     Capitais    Regiao  População
1               Alagoas     AL       Maceió  Nordeste    3365351
4                 Bahia     BA     Salvador  Nordeste   14985284
5                 Ceará     CE    Fortaleza  Nordeste    9240580
13              Paraíba     PB  João Pessoa  Nordeste    4059905
15           Pernambuco     PE       Recife  Nordeste    9674793
16                Piauí     PI     Teresina  Nordeste    3289290
18  Rio Grande do Norte     RN        Natal  Nordeste    3560903
24              Sergipe     SE      Aracaju  Nordeste    2338474

In [73]:
centro = df2[df2['Regiao'] =='Centro-Oeste']
centro

               Estados Siglas      Capitais        Regiao  População
7                Goiás     GO       Goiânia  Centro-Oeste    7206589
9          Mato Grosso     MT        Cuiabá  Centro-Oeste    3567234
10  Mato Grosso do Sul     MS  Campo Grande  Centro-Oeste    2839188
26    Distrito Federal     DF      Brasília  Centro-Oeste    3094325

In [72]:
sudeste = df2[df2['Regiao'] =='Sudeste']
sudeste

           Estados Siglas        Capitais   Regiao  População
6   Espírito Santo     ES         Vitória  Sudeste    4108508
11    Minas Gerais     MG  Belo Horizonte  Sudeste   21411923
17  Rio de Janeiro     RJ  Rio de Janeiro  Sudeste   17463349
23       São Paulo     SP       São Paulo  Sudeste   46649132

In [71]:
sul = df2[df2['Regiao'] =='Sul']
sul

              Estados Siglas       Capitais Regiao  População
14             Paraná     PR       Curitiba    Sul   11597484
19  Rio Grande do Sul     RS   Porto Alegre    Sul   11466630
22     Santa Catarina     SC  Florianópolis    Sul    7338473

In [69]:
norte =df2[df2['Regiao'] == 'Norte']
norte

      Estados Siglas     Capitais Regiao  População
0        Acre     AC   Rio Branco  Norte     906876
2       Amapá     AP       Macapá  Norte     877613
3    Amazonas     AM       Manaus  Norte    4269995
12       Pará     PA        Belém  Norte    8777124
20   Rondônia     RO  Porto Velho  Norte    1815278
21    Roraima     RR    Boa Vista  Norte     652713
25  Tocantins     TO       Palmas  Norte    1607363

Quantidade de estados por região?

In [77]:
norte.count()

Estados      7
Siglas       7
Capitais     7
Regiao       7
População    7
dtype: int64

In [78]:
nordeste.count()

Estados      8
Siglas       8
Capitais     8
Regiao       8
População    8
dtype: int64

In [79]:
centro.count()

Estados      4
Siglas       4
Capitais     4
Regiao       4
População    4
dtype: int64

In [80]:
sudeste.count()

Estados      4
Siglas       4
Capitais     4
Regiao       4
População    4
dtype: int64

In [81]:
sul.count()

Estados      3
Siglas       3
Capitais     3
Regiao       3
População    3
dtype: int64

Polulação total de cada região?

In [91]:
norte['População'].sum()

18906962

In [86]:
nordeste['População'].sum()

50514580

In [87]:
centro['População'].sum()

16707336

In [88]:
sudeste['População'].sum()

89632912

In [89]:
sul['População'].sum()

30402587

Qual região com a maior população?

In [98]:
sudeste['População'].sum()

89632912

Qual a regiçao com a menor população?

In [99]:
centro['População'].sum()

16707336

Qual a população média de cada região?

In [100]:
norte.describe()

          População
count  7.000000e+00
mean   2.700995e+06
std    2.946769e+06
min    6.527130e+05
25%    8.922445e+05
50%    1.607363e+06
75%    3.042636e+06
max    8.777124e+06

In [101]:
nordeste.describe()

          População
count  8.000000e+00
mean   6.314322e+06
std    4.493800e+06
min    2.338474e+06
25%    3.346336e+06
50%    3.810404e+06
75%    9.349133e+06
max    1.498528e+07

In [102]:
centro.describe()

          População
count  4.000000e+00
mean   4.176834e+06
std    2.042233e+06
min    2.839188e+06
25%    3.030541e+06
50%    3.330780e+06
75%    4.477073e+06
max    7.206589e+06

In [103]:
sudeste.describe()

          População
count  4.000000e+00
mean   2.240823e+07
std    1.777588e+07
min    4.108508e+06
25%    1.412464e+07
50%    1.943764e+07
75%    2.772123e+07
max    4.664913e+07

In [104]:
sul.describe()

          População
count  3.000000e+00
mean   1.013420e+07
std    2.422051e+06
min    7.338473e+06
25%    9.402552e+06
50%    1.146663e+07
75%    1.153206e+07
max    1.159748e+07