##**Pandas: Conceitos Fundamentais**
Documentação oficial: https://pandas.pydata.org/pandas-docs/stable/index.html#

***Começando com o Pandas***

Para começar a usar o Pandas, primeiro precisamos importar sua bilioteca no Python.

In [ ]:
# Importando a biblioteca Pandas
# o aliás "pd": convencionado pela comunidade Pandas

import pandas as pd

***Sobre DataFrame***

Um DataFrame é uma estrutura de dados bidimensional que pode armazenar dados de diferentes tipos (incluindo caracteres, inteiros, valores de pontos flutuantes, dados categóricos e muito mais) em colunas. É semelhante a uma planilha, uma tabela SQL ou a em R.data.frame.

Podemos armazenar manualmente dados em uma tabela, criando uma. Faremos isso utilizando duas estruturas do Python quê estudamos nas aulas passadas, são elas: dicionário e lista

Ao usar um dicionário Python de listas, as chaves do dicionário serão usadas como cabeçalhos de coluna e os valores em cada lista como valor nas colunas do DataFrame.

In [ ]:
# Criando e utilizando um Dataframe
# Armazenando dados dos passageiros do Titanic

df = pd.DataFrame(
    {
        "Name": [
                 "Braund, Mr. Owen Harris",
                 "Allen, Mr. William Henry",
                 "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22,35,58],
        "Sex": ["male", "male", "female"],
    }
)

In [ ]:
# Visualizando o DataFrame criado
# Percebam a similaridade com uma planilha, onde os índices do dicionário
# se tornaram um "rótulo" para coluna

df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

***Trabalhando com subconjuntos***

In [ ]:
# Vamos trabalhar apenas com um subconjunto (coluna) do nosso DataFrame.
# Para isso, utilizamos o rótulo dessa coluna entre colchetes.

df["Age"]

# Selecionando uma única coluna de um DataFrame pandas,
# o resultado é uma série pandas.

0    22
1    35
2    58
Name: Age, dtype: int64

# **Pandas: Análise dos Dados**

In [ ]:
# Para saber as estatísticas básicas dos dados númericos da minha tabela
# utiliza-se a função "describe()"

df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

In [ ]:
# Como saber a idade máxima dos passageiros?
# Podemos fazer isso selecionando a coluna desejada e aplicando a função "max()"

df["Age"].max()

58

***Adicionando novos dados ao DataFrame***

In [ ]:
df = df.append(
    pd.DataFrame(
        {
            "Name":[
                    "McCarthy, Mr. Timothy J",
                    "Heikkinem, Miss. Laina"
            ],
            "Age":[54, 26],
            "Sex":["male", "female"]
        }
    )
)

***Visualizando os dados novamente: observem como ficou nosso índice***

In [ ]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female
0   McCarthy, Mr. Timothy J   54    male
1    Heikkinem, Miss. Laina   26  female

***Ajustando o Índice do DataFrame***

Existem várias formas de organizar os índices, vale procurar um pouco na documentação. 

Usaremos o método "reset_index()".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html#pandas.DataFrame.reset_index

In [ ]:
df = df.reset_index()

# **Filtrando e tratando os dados**

***Retornando nosso DataFrame***

In [ ]:
df

   index                      Name  Age     Sex
0      0   Braund, Mr. Owen Harris   22    male
1      1  Allen, Mr. William Henry   35    male
2      2  Bonnell, Miss. Elizabeth   58  female
3      0   McCarthy, Mr. Timothy J   54    male
4      1    Heikkinem, Miss. Laina   26  female

***E se quisermos apenas os passageiros do sexo feminino?***

***Podemos criar um filtro, que tal?***

In [ ]:
filtro = df["Sex"] == "female"

***Analisando o resultado***

In [ ]:
filtro

0    False
1    False
2     True
3    False
4     True
Name: Sex, dtype: bool

***Bom. E como é que usaremos este filtro? Agora vem a parte fácil***

In [ ]:
#execute o Dataframe novo para não alterar o original, com o filtro criado

df_filtrado = df[filtro]
df_filtrado

   index                      Name  Age     Sex
2      2  Bonnell, Miss. Elizabeth   58  female
4      1    Heikkinem, Miss. Laina   26  female

In [ ]:
#Quantos registros temos em nosso DataFrame?

df.count()

#Perceba que ele retorna a contagem em cada uma das séries

index    5
Name     5
Age      5
Sex      5
dtype: int64

In [ ]:
# Para uma contagem geral podemos aplicar um filtro no "index"

df["index"].count()

5

In [ ]:
# Criando DataFrames a partir do Principal
# Primerio filtro do sexo feminino

filtro = df["Sex"] == "female"

In [ ]:
#Criando DataFrame e armazenando os dados de sexo feminino

df_feminino = df[filtro]

In [ ]:
# Qual a idade máxima do sexo feminino?

df_feminino["Age"].max()

58

In [ ]:
# Qual a idade mínima do sexo feminimo?

df_feminino["Age"].min()

26

In [ ]:
# Qual a média da idade do sexo feminino?

df_feminino["Age"].mean()

42.0

# ***Repita as análises para o sexo masculino!***
Dica: inicie alterando o filtro

In [ ]:
filtro_male = df["Sex"] == "male"

In [ ]:
df_filtro_male = df[filtro_male]
df_filtro_male

   index                      Name  Age   Sex
0      0   Braund, Mr. Owen Harris   22  male
1      1  Allen, Mr. William Henry   35  male
3      0   McCarthy, Mr. Timothy J   54  male

In [ ]:
df_filtro_male['Age'].max()

54

In [ ]:
df_filtro_male['Age'].min()

22

In [ ]:
df_filtro_male['Age'].mean()

37.0

In [ ]:
df_filtro_male.count()

index    3
Name     3
Age      3
Sex      3
dtype: int64

In [ ]:
df['Age'].count()

5

# **Pandas - Transformação de dados**

Você sabia que o Pandas suporta a integração com muitos formatos de arquivo ou fontes de dados (csv, excel, sql, json, parquet,...). A importação de dados de cada uma dessas fontes de dados é fornecida por função com o prefixo. Da mesma forma, os métodos são usados para armazenar dados.
Para iniciar, vamos usar uma estrutura de JSON.
 Lembre-se de importar a biblioteca Pandas.

In [ ]:
import pandas as pd
dados = pd.read_json('https://servicodados.ibge.gov.br/api/v2/censos/nomes/joao?groupBy=UF')

Agora visualize nosso Dataframe! Tá pronto pra gente analisar e manipular!
Vamos aproveitar e criar mais um Dataframe com os estados.

In [ ]:
dados.head()

   localidade                                                res
0          24  [{'populacao': 3168027, 'frequencia': 72363, '...
1          25  [{'populacao': 3766528, 'frequencia': 73799, '...
2          22  [{'populacao': 3118360, 'frequencia': 58554, '...
3          41  [{'populacao': 10444526, 'frequencia': 195430,...
4          52  [{'populacao': 6003788, 'frequencia': 111064, ...

In [ ]:
estados = pd.read_json('https://servicodados.ibge.gov.br/api/v1/localidades/estados?orderBy=id')

In [ ]:
#vizualização de dados
estados.head()

   id sigla      nome                                    regiao
0  11    RO  Rondônia  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
1  12    AC      Acre  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
2  13    AM  Amazonas  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
3  14    RR   Roraima  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
4  15    PA      Pará  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}

Vamos salvar nosso Dataframe em uma planilha? O Pandas já tem recurso para isso. Só execute o código abaixo:

In [ ]:
estados.to_excel("estados.xlsx")

O Pandas permite esta interação entre diversos formatos, tanto de leitura quanto a exportação, como fizemos agora, mudando apenas o sufixo.

# *Ler arquivos CSV e Excel*

In [ ]:
titanic = pd.read_csv('/content/train.csv')

Selecionando as 10 primeiras linhas

In [ ]:
titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

Uma verificação de como os pandas interpretaram cada um dos tipos de dados da coluna pode ser feita solicitando o atributo pandas: dtypes

In [ ]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Para cada uma das colunas, o tipo de dados usado é listado. Os tipos de dados nestes são inteiros, floats e strings.
Interessado em um resumo técnico dos dados?

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

As informações do método info() fornecem informações técnicas sobre um Dataframe, então vamos explicar a saída com mais detalhes:
É realmente um DataFrame.
São 891 inscrições, ou seja, 891 linhas.
Cada linha tem um rótulo de linha com valores que variam de 0 a 890 (index)
O Dataframe tem 12 colunas. A maioria das colunas tem um valor para cada uma das linhas (todos os valores de 891 são ). Algumas colunas têm valores perdidos e menos de 891 valo

*Criando Subconjunto*

In [ ]:
ages = titanic["Age"]
ages.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

Para selecionar uma única coluna, usamos os colchetes com o nome da coluna de interesse.
Cada coluna em um Dataframe é uma série. A medida que uma única coluna é selecionada, o objeto retornado é uma série Pandas. Podemos verificar testando o tipo

In [ ]:
type((titanic["Age"]))

pandas.core.series.Series

In [ ]:
#Vamos ver o shape deste conjunto de dados
titanic["Age"].shape

(891,)

O shape é um atributo que retorna o número de linhas e colunas. Nosso conjunto tem apenas 1-dimensão, logo retorna apenas o número de linhas.
Seria interessante analisar a idade e o sexo dos passageiros

In [ ]:
age_sex = titanic[["Age", "Sex"]]
age_sex.head()

    Age     Sex
0  22.0    male
1  38.0  female
2  26.0  female
3  35.0  female
4  35.0    male

 Para múltiplas seleções, use uma lista de colunas entre as chaves.
 Os colchetes internos definem uma lista Python com os nomes das colunas, enquantos os colchetes externos são usados para selecionar os dados de um Pandas como visto nos exemplos anteriores.
Vamos verificar o tipo e o shape deste novo subconjunto?

In [ ]:
type(titanic[["Age", "Sex"]])

pandas.core.frame.DataFrame

In [ ]:
titanic[["Age", "Sex"]].shape

(891, 2)

Agora nosso conjunto retorna um Dataframe. Possui 891 linhas e 2 colunas.
É possível filtrar os dados de uma coluna específica
E se quisermos retornar apenas os passageiros com mais de 39 anos

In [ ]:
above_39 = titanic[titanic["Age"] > 39]
above_39.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S

Para selecionar linhas com base em uma condição, use a condição entre os colchetes.
Em nosso exemplo, a condição era titanic["Age"] > 39 . Esta condição checa as colunas que atendem a condição. Vamos ver apenas a condição isoladamente.

In [ ]:
#Verificando apenas a condição isoladamente
above_39.shape

(163, 12)

In [ ]:
#Verificar como ficou apenas nosso novo subconjunto
above_39.max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

PassengerId                                880
Survived                                     1
Pclass                                       3
Name           van Billiard, Mr. Austin Blyler
Sex                                       male
Age                                       80.0
SibSp                                        2
Parch                                        6
Ticket                               WE/P 5735
Fare                                     263.0
dtype: object

In [ ]:
titanic['Age'].min()

0.42

In [ ]:
above_39.min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

PassengerId                      7
Survived                         0
Pclass                           1
Name           Abbing, Mr. Anthony
Sex                         female
Age                           40.0
SibSp                            0
Parch                            0
Ticket                      110413
Fare                           0.0
dtype: object

In [ ]:
#apenas passageiros 2 3 classe
class_23 = titanic[titanic["Pclass"].isin([2,3])]
class_23.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

Semelhante as condições vistas anteriormente, o isin() retorna True a partir de uma lista informada entre os parênteses. Em nosso exemplo, filtramos Pclass e aplicamos uma lista pelo isin() para as classes 2 e 3.
O código acima é o equivalente a utilizar duas condições entre parênteses com o operador "ou"(or) ( | )

In [ ]:
#Ver apenas os passageiros das classes 2 e 3
class_2_3 = titanic[(titanic['Pclass'] == 2) | (titanic['Pclass'] == 3)]
class_2_3.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

E se quisermos selecionar apenas os dados aonde a idade do passageiro foi informada ❓

Incluindo o notna() retorna True apenas nos valores que não sejam nulos. Aplicamos esta condição dentro dos colchetes no Dataframe principal.
Vamos analisar nosso conjunto com os dados de idade informados.

In [ ]:
#apenas passageiros com idade informada. Excluindo os nulos.
age_no_na = titanic[titanic["Age"].notna()]
age_no_na.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
age_no_na.shape

(714, 12)

Dados não informados são conhecidos como "MISSING DATA". Dependendo do projeto, exigirá um tratamento e não poderão simplesmente serem descartados como fizemos aqui.

Como selecionar linhas e colunas específicas ❓

Vamos filtrar um subconjunto apenas com o nome dos passageiros com mais de 30 anos

In [ ]:
adult_names = titanic.loc[titanic["Age"] > 30, "Name"]
adult_names.head()

1     Cumings, Mrs. John Bradley (Florence Briggs Th...
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
6                               McCarthy, Mr. Timothy J
11                             Bonnell, Miss. Elizabeth
Name: Name, dtype: object

Neste caso, um subconjunto de linhas e colunas feito de uma só vez, usar apenas colchetes de seleção não é mais suficiente. Os operadores ('loc', 'iloc') são necessários em frente aoscolchetes. Ao usa-los, a parte antes da vírgula são as linhas desejadas (neste caso, aquelas aonde a idade está acima de 30) e a parte após a círgula são as colunas que você deseja selecionar.
Vamos filtrar mais especificamente agora. Vamos retornar a linha 10 a 25 e das colunas 3 até a 5.

In [ ]:
titanic.iloc[9:25, 2:5]

    Pclass                                               Name     Sex
9        2                Nasser, Mrs. Nicholas (Adele Achem)  female
10       3                    Sandstrom, Miss. Marguerite Rut  female
11       1                           Bonnell, Miss. Elizabeth  female
12       3                     Saundercock, Mr. William Henry    male
13       3                        Andersson, Mr. Anders Johan    male
14       3               Vestrom, Miss. Hulda Amanda Adolfina  female
15       2                   Hewlett, Mrs. (Mary D Kingcome)   female
16       3                               Rice, Master. Eugene    male
17       2                       Williams, Mr. Charles Eugene    male
18       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female
19       3                            Masselmani, Mrs. Fatima  female
20       2                               Fynney, Mr. Joseph J    male
21       2                              Beesley, Mr. Lawrence    male
22       3                        McGowan, Miss. Anna "Annie"  female
23       1                       Sloper, Mr. William Thompson    male
24       3                      Palsson, Miss. Torborg Danira  female

Novamente, um subconjunto linhas e colunas feito de uma só vez, apenas usar colchetes não é mais suficiente. Quando estiver especificamente interessado em determinadas linhas e/ou colunas com base em sua posição na tabela, use o operador iloc em frente aos colchetes.
A principal diferença entre o loc[] e o iloc[] está na forma de montar a busca.
Ao usar o loc[] espera-se o rótulo do dado(nome). Já no iloc[] é a posição da linha ou coluna (índice).
Ao selecionar linhas e/ou colunas específicas, usando por exemplo o iloc[], novos valores podem ser atribuídos. Olha neste exemplo, aonde iremos selecionar as três primeiras linhas e vamos atribuir um nome a coluna 3('name').

In [ ]:
titanic.iloc[0:3, 3] = 'Blue'
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Blue,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Blue,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Blue,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#buscar a idade maxima e o nome.
titanic[titanic['Age'].max() == titanic['Age']]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0,A23,S

In [ ]:
fig, axs = plt.subplots(figsize=(12, 4))        # Metodo que define e salva as medidas
air_quality.plot.area(ax=axs)                   # Plotar o gráfico usando a medida salva anteriormente
axs.set_ylabel("NO$_2$ concentration")          #Customizando o eixo Y 
fig.savefig("no2_concentrations.png")           # Salvando o gráfico

# **Selecionar Valor Unico**

In [ ]:
lista1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
dfl = pd.DataFrame(lista1,
                  index=['lin1', 'lin2', 'lin3'],
                  columns=['col1', 'col2', 'col3'])
dfl

      col1  col2  col3
lin1     1     2     3
lin2     4     5     6
lin3     7     8     9

In [ ]:
#primeira forma de buscar o item
dfl['col2']['lin2']

5

In [ ]:
#segunda forma de buscar o item, e pode usar para substituir valores
dfl.at['lin2', 'col2'] = 6
dfl

      col1  col2  col3
lin1     1     2     3
lin2     4     6     6
lin3     7     8     9

In [ ]:
# i antes das funções indica que esta buscando por um numero.
dfl.iat[1, 1]

6

# **LOC ILOC**

# **DICIONARIO**

In [ ]:
dic = {'primeiro':'Ana', 'segundo':'Marcos', 'terceiro':'Natalia'}

In [ ]:
for i in dic:
  print(i, end=' ')
  print(dic[i])
  for j in dic[i]:
    print(j)
  print('-='*30)

primeiro Ana
A
n
a
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
segundo Marcos
M
a
r
c
o
s
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
terceiro Natalia
N
a
t
a
l
i
a
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

In [ ]:
dic2 = {'um':1, 'dois':2, 'tres':3}

In [ ]:
for chave,valor in dic2.items():
  print(chave)
  print(valor)
  if(chave == 'estoque'):
    for j in valor:
      dic[chave]

um
1
dois
2
tres
3